nav img {
    width: 50px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  i {
    font-size: 32px;
  }
  #myWork img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    object-position: top;
    padding: 10px;
  }